@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --overlay: #03a9fa;

}
body {
  margin: 0;
font-family: 'Poppins', sans-serif;

}
.text{
  font-family: 'Poppins', sans-serif;
}
.sky {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}
.swal2-container {
  z-index: 10000 !important;
}
.bg-orange-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 115 22 / var(--tw-bg-opacity));
}
.-mt-10{
  margin-top: -2.5rem !important;
}
.spinner{
  position: relative;
  height: 64px;
  width: 64px;
  border-radius: 64px;
}
  .spinner::before{
    content: '';
    position: absolute;
    height: 64px;
    width: 64px;
    color: currentColor;
    border-radius: 64px;
    box-shadow: inset -5px 0 0 5px currentColor;
    clip: rect(0, 64px, 32px, 0);
    animation: rotator 1s infinite linear;
  }

  @keyframes rotator {
    0%{
      transform: rotate(-180deg);
      box-shadow: inset -5px 0 0 5px currentColor;
    }
    50%{
      transform: rotate(0deg);
      box-shadow: inset -1px 0 0 1px currentColor;
    }
    100%{
      transform: rotate(180deg);
      box-shadow: inset -5px 0 0 5px currentColor;
    }
  }